# Virtual environments
.venv/

# Operating system files
**/.DS_Store

# IDE and editor files
.vscode/

# Project directories
data/                         
logs/                         
/models/                      

# Document files
*.pdf
*.md
!README.md

# Python cache and compiled files
**/__pycache__/
*.py[cod]


# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Log files
*.log

# Poetry
poetry.lock                   